<style>
    body {
        margin: 10;
        overflow: hidden;
    }
    .wrapper {
        position: relative;
        height: 100vh;
    }
</style>
<!-- Use wrapper div to make height responsive -->
<div class="wrapper">
    <canvas id="myChart" width="1366" height="768"></canvas>
</div>
<script>
var ctx = document.getElementById("myChart").getContext('2d');
ctx.width = window.innerWidth;
ctx.height = window.innerHeight;
var chartOptions = {
    type: 'line',
    data: {
        labels: [
            <% for (var item in coinData) { %>
                '<%= coinData[item].date.split('T')[0] %>',
            <% } %>
        ],
        // labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: 'Ranking % of <%= coinData[0].info.name %>',
            yAxisID: 'rank_%',
            data: [
                <% for (var item in coinData) { %>
                    '<%= coinData[item].info.rank / coinData[item].coinCount * 100 %>',
                <% } %>
            ],
            //data: [12, 19, 3, 5, 2, 3, 9, 89],
            backgroundColor: [
                <% for (let item in coinData) { %>
                    'rgba(255, 99, 132, 0.2)',
                <% } %>
                /*
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
                */
            ],
            borderColor: [
                <% for (let item in coinData) { %>
                    'rgba(255,99,132,1)',
                <% } %>
                /*
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                */
            ],
            borderWidth: 1
        },
        {
            label: 'Price_USD of <%= coinData[0].info.name %>',
            yAxisID: 'price_usd',
            data: [
                <% for (var item in coinData) { %>
                    '<%= coinData[item].info.price_usd %>',
                <% } %>
            ],
            //data: [12, 19, 3, 5, 2, 3, 9, 89],
            backgroundColor: [
                <% for (let item in coinData) { %>
                    'rgba(54, 162, 235, 0.2)',
                <% } %>
                /*
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
                */
            ],
            borderColor: [
                <% for (let item in coinData) { %>
                    'rgba(54, 162, 235, 1)',
                <% } %>
                /*
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                */
            ],
            borderWidth: 1
        },
        {
            label: 'Simple Moving Average of <%= coinData[0].info.name %>',
            yAxisID: 'sma_price_usd',
            data: [
                <% if (SMAEnable) { %>
                  <% for (var n = 0; n < frameLength / 2; ++n) { %>
                      '0',
                  <% } %>
                  <% for (var item in SMAData) { %>
                      '<%= SMAData[item].sma_price_usd %>',
                  <% } %>
                <% } %>
            ],
            //data: [12, 19, 3, 5, 2, 3, 9, 89],
            backgroundColor: [
                <% for (let item in SMAData) { %>
                    'rgba(255, 206, 86, 0.2)',
                <% } %>
                /*
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
                */
            ],
            borderColor: [
                <% for (let item in SMAData) { %>
                    'rgba(255, 206, 86, 1)',
                <% } %>
                /*
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
                */
            ],
            borderWidth: 1
        }]
    },
    options: {
        responsive: true,
        maintainAspectRatio: false,
        scales: {
            yAxes: [{
                id: 'rank_%',
                position: 'left',
                ticks: {
                    max: <%= render_worst_rank_percent %>,
                    min: 0,
                    beginAtZero: true,
                    reverse: true
                }
            },
            {
                id: 'price_usd',
                position: 'right',
                ticks: {
                    max: <%= render_max_price_usd %>,
                    min: 0,
                    beginAtZero: true,
                    reverse: false
                }
            },
            {
                id: 'sma_price_usd',
                position: 'right',
                ticks: {
                    max: <%= render_max_price_usd %>,
                    min: 0,
                    beginAtZero: true,
                    reverse: false
                }
            }]
        }
    }
}
var myChart = new Chart(ctx, chartOptions);
</script>
